[submodule "optimizers/BaoForPostgreSQL"]
	path = optimizers/BaoForPostgreSQL
	url = https://github.com/KostasMparmparousis/BaoForPostgreSQL.git
[submodule "optimizers/Lero-on-PostgreSQL"]
	path = optimizers/Lero-on-PostgreSQL
	url = https://github.com/KostasMparmparousis/Lero-on-PostgreSQL.git
[submodule "optimizers/FASTgres-PVLDBv16"]
	path = optimizers/FASTgres-PVLDBv16
	url = https://github.com/KostasMparmparousis/FASTgres-PVLDBv16.git
[submodule "optimizers/LOGER"]
	path = optimizers/LOGER
	url = https://github.com/KostasMparmparousis/LOGER.git
[submodule "optimizers/balsa"]
	path = optimizers/balsa
	url = https://github.com/KostasMparmparousis/balsa.git
[submodule "optimizers/BASE"]
	path = optimizers/BASE
	url = https://github.com/KostasMparmparousis/BASE.git
