[submodule "optimizers/Lero-on-PostgreSQL"]
	path = optimizers/Lero-on-PostgreSQL
	url = https://github.com/KostasMparmparousis/Lero-on-PostgreSQL.git
[submodule "optimizers/LOGER"]
	path = optimizers/LOGER
	url = https://github.com/KostasMparmparousis/LOGER.git
